body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

р,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}

img {
  display: block;
}

/* ------------------HEADER------------------ */

.header {
  border-bottom: 1px solid #ececec;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo-accent {
  color: #2196f3;
}

.logo {
  font-family: 'Raleway', sans-serif;
  color: #000000;
  font-weight: Bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  margin-right: 93px;
}

.header-wrapper {
  display: flex;
  align-items: baseline;
}

.nav-wrapper {
  display: flex;
}

.auth-wrapper {
  display: flex;
  margin-left: auto;
}

.auth-item {
}

.auth-item:last-child {
  margin-left: 40px;
}

.header-nav-link {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;
}

.header-nav-item:not(:last-child) {
  margin-right: 50px;
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: #2196f3;
}

.current {
  color: #2196f3;
}

.header-auth-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #757575;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;
}

.header-auth-link:hover,
.header-auth-link:focus {
  color: #2196f3;
}

/* ------------------HERO------------------ */

.hero {
  background-color: #2f303a;
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #fff;

  text-align: center;

  margin-bottom: 30px;
}

.hero-btn {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  text-align: center;

  background-color: #2196f3;

  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  /* width: 200px;
  height: 50px; */
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

/* ------------------ОСОБЛИВОСТІ------------------ */

.feature-list {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature-item:not(:last-child) {
  margin-right: 30px;
}

.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;

  margin-bottom: 10px;
}

.feature-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ------------------ЧИМ МИ ЗАЙМАЄМОСЯ------------------ */

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;

  margin-bottom: 50px;
}

.img-wrapper {
  display: flex;
  padding-bottom: 94px;
}

.img:not(:last-child) {
  margin-right: 30px;
}

/* ------------------НАША КОМАНДА------------------ */

.work-section {
  background-color: #f5f4fa;
}

.work-title {
  padding-top: 94px;
}

.workers-wrapper {
  display: flex;
}
.worker-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
}

.worker-descr {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: #757575;
}

/* ------------------FOOTER------------------ */

.footer {
  background-color: #2f303a;
}

.footer-logo {
  color: #fff;
}

.footer-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: #fff;
}

.footer-link {
  font-size: 14px;
  line-height: ;
  letter-spacing: 0.03em;
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer-address:hover,
.footer-address:focus,
.footer-link:hover,
.footer-link:focus {
  color: #2196f3;
}

/* ------------------PORTFOLIO------------------ */

.gallery-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: #212121;
}

.gallery-description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: #757575;
}

.gallery-btn {
  background-color: #f5f4fa;
  border-radius: 4px;
  width: 128px;
  height: 38px;

  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  border-color: #f5f4fa;
}

.gallery-btn:hover,
.gallery-btn:focus,
.gallery-btn:active {
  color: #fff;
  background-color: #2196f3;
}
